* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
img {
  position: relative;
  display: block;
}
header {
  border-bottom: 1px solid #e7e9fc;
}
.header.manu {
  position: relative;
  border-bottom: 1px solid #e7e9fc;
}
header div {
  display: flex;
}
.web {
  margin-right: 76px;
}
header .container {
  width: 1158px;
  height: 72px;
  margin: 0 auto;
  padding: 0 15px;
}
.logo {
  display: flex;
  align-items: center;
}
.web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.web-studio {
  font-family: 'Raleway', sans-serif;
  color: #2e2f42;
}

.studio-manu {
  display: flex;
  gap: 40px;
  bottom: 24px;
  top: 5px;
  left: 347px;
}
.header-studio-list {
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-studio-list:hover {
  color: #404bbf;
}
.header-studio-list:focus {
  color: #404bbf;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-list-info {
  position: absolute;
  display: flex;
  top: 24.5px;
  right: 347px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-list-tel {
  position: absolute;
  display: flex;
  top: 24px;
  right: 156px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-list-info:hover,
.address-list-tel:hover {
  color: #404bbf;
}
.address-list-info:hover,
.address-list-tel:focus {
  color: #404bbf;
}

.section-big-tittle {
  padding: 188px 0;
  width: 1440px;
  height: 600px;
  background-color: #2e2f42;
}

.big-tittle {
  max-width: 496px;
  position: absolute;
  display: flex;
  height: 120px;
  font-size: 56px;
  color: #ffffff;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.07;

  left: 472px;
}
.tittle-button {
  position: relative;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  width: 169px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  top: 188px;
}
.tittle-button:hover {
  background-color: #404bbf;
}
.tittle-button:focus {
  background-color: #404bbf;
}
.section-peculiarities {
  position: relative;
  padding: 120px 0;
  width: 1128px;
  height: 104px;
  left: 156px;
  top: 120px;
}
.visually-hidden {
  display: none;
}

.section-peculiarities-ul {
  display: flex;
  gap: 24px;
}
.section-peculiarities-list {
  width: calc((100% - 72px) / 4);
}
.tittle-strategy {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.paragraph-strategy {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  gap: 8px;
  width: 264px;
  height: 104px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.our-team-section {
  padding: 120px 0;
  width: 1440px;
  height: 732px;
  display: flex;
  position: relative;
  top: 240px;
  background: #f4f4fd;
}
.our-team-section .container {
  padding: 32px 0;
}
.tittle-our-team {
  margin-bottom: 72px;
  position: relative;
  display: flex;
  left: 639px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.section-our-team-ul {
  display: flex;
  position: relative;
  left: 156px;
  gap: 24px;
}
.our-team-list {
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  height: 380px;

  background: #fff;
}
.our-team-section .container ul li div {
  padding: 32px 0;
}
.name-our-team {
  text-align: center;
  margin-bottom: 8px;
  width: 232px;
  height: 56px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.paragraph-our-team {
  position: relative;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  bottom: 32px;
}
.section-our-portfolio {
  position: relative;
  top: 144px;
  bottom: 432px;
  padding: 120px 0;
  left: 156px;
}

.our-portfolio-div {
  margin-bottom: 8px;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 360px;
  height: 120px;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.tittle-our-portfolio {
  position: relative;
  margin-bottom: 72px;
  display: flex;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.section-our-portfolio-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.our-portfolio-listt {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.small-tittle {
  position: relative;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.paragraph-our-portfolio {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer-finish {
  position: relative;
  padding: 100px 0;
  top: 120px;
  width: 1440px;
  height: 312px;
  background-color: #2e2f42;
}

.logo-web {
  position: relative;

  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

  left: 156px;
}
.studio-web {
  position: relative;
  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  color: #f4f4fd;
}
.paragraph-web-studio {
  position: relative;
  max-width: 264px;
  width: 264px;
  height: 112px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  left: 156px;
}
